<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="icon" href="https://i.pinimg.com/736x/bb/5a/a9/bb5aa9de546182c556e3089d55a07926.jpg">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/stylebutton.css">
    <link rel="stylesheet" href="/static/css/stylebar.css">
</head>
<body>
     <!-- Menú Desplegable -->
     <div class="trigger-area"></div> <!-- Área para activar la barra -->
     <div class="sidebar" id="sidebar">
         <a href="{{ url_for('cargar_usuario') }}">Cargar Nuevo Usuario</a>
         <a href="{{ url_for('inicio') }}">Estado Barriles</a>  
         <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
     </div>
    <div class="container">
        <div class="table-container">
            <table>
                <caption>USUARIOS</caption>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Correo electronico</th>
                        <th>Es Administrador</th>
                        <th>Quiere..?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario[0] }}</td>
                        <td>{{ usuario[1] }}</td>
                        <td>{{ 'Sí' if usuario[2] == 1 else 'No' }}</td>
                        <td>
                            <a href="{{ url_for('delete_usuario', correo=usuario[1]) }}" class="btn-eliminar" onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?');">ELIMINAR</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="button-container">
            <div class="button-container">
                <a href="{{ url_for('cargar_usuario') }}" class="btn-cargar">NUEVO USUARIO</a>
            
                <a href="{{ url_for('inicio') }}" class="btn-volver">VOLVER</a>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scriptbar.js') }}"></script>
</body>
</html>